.container-window{
    textarea {
        width: 97%;
        height: 200px;
        min-height: 200px;
        max-height: 400px;
        overflow-y: auto;
        max-width: 97%;
        min-width: 97%;
    }
}

